/*[fmt]0A10-00AA-364*/
/*Default stylesheet by HaRRy
http://geuze.name
Optimized for IE7+ and all modern desktop browsers
Do not forget to include html5shiv when using html5 elements
Version 1.1*/
html{
 font:12px/1em sans-serif; overflow-y:scroll
}
*{
 margin:0; padding:0
}
a{
/*Forcing rules on anchors even without href(useful for a lot of ajax sites)*/
 cursor:pointer; text-decoration:underline
}
img[src='']{
 visibility:hidden
}
iframe, img{
 border:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
 display:block
}
table{
 border-collapse:collapse; border-spacing:0
}
td, th{
 border:1px solid #AAA; padding:0.1em 0.4em 0.1em 0.3em; text-align:left
}
tbody tr:first-child th,tbody tr:first-child td{
 /*I prefer thead tr:last-child but IE7 and IE8 don't know last-child*/
 border-top-width:2px
}
tfoot tr:first-child td, tfoot tr:first-child th{
 border-top-width:2px
}
caption, figcaption{
 text-align:left; padding:0.1em 0 0.1em 0.4em; font-style:oblique
}
input, textarea{
 width:12em; font:1em sans-serif
}
textarea{
 height:8em; width:18em
}
button, input[type=button], input[type=submit], input[type=reset]{
 padding:0 0.4em; width:auto; min-width:5em; vertical-align:middle; height:2em; font:1em/1.5em sans-serif;/*IE7 fix - no hack here on purpose*/
 overflow:visible;
}
input[type=radio], input[type=checkbox]{
 width:auto
}
h1, h2, h3, h4, h5, h6{
 font-weight:normal
}
h1{
 font:3em/1em sans-serif
}
h2{
 font:2.5em/1em sans-serif
}
h3{
 font:2em/1em sans-serif
}
h4{
 font:1.5em/1em sans-serif
}
h5{
 font:1.25em/1em sans-serif
}
h6{
 font:1em/1em sans-serif
}
p{
 font:1em/1.25em sans-serif
}
p+p{
 padding-top:1em;
}
p img{
 vertical-align:middle
}
dt, th{
 font-weight:bolder
}
dd{
 padding-left:1em
}
fieldset{
 padding:0.5em
}
legend{
 margin-left:-0.3em; padding:0.3em
}
hr{
 width:90%; margin:0 auto; color:#BDBDBD; border:1px inset #000
}
ul, ol{
 padding-left:2em
}
ul ul, ul ol, ol ul, ol ol{
 padding-left:0.8em
}
nav ul, #nav ul, .nav ul{
 list-style:none; padding:0;
}
nav li a, #nav li a, .nav li a{
 white-space:nowrap
}
header noscript{
 position:absolute; width:50%; top:0; left:50%; margin-left:-25%; padding:10px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box
}
header noscript div,header noscript p{
 background:#FAFFBD
}
/*Print style sheet*/
@media print{
 html, body {
  margin:0;  width:100%
 }
 p,li,td,th,caption,legend,h1,h2,h3,h4,h5,h6,dt,input,textarea{
  font-family:serif;  color:#000
 }
 html,body,p,ul,div{
  background-color:#fff
 }
 a[href]:after {
  content:" (" attr(href) ") ";  font-size:0.9em
 }
 nav a[href]:after, #nav a[href]:after, .nav a[href]:after {
 /*Do not apply the above rule on items in the menu.*/
  content:""
 }
 a[href^="/"]:after{
 /*Change the url here and uncomment for internal url display*/
 /*[disabled]content:" (http://example.com" attr(href) ") "*/
 }
}